<div class="container-show-booking d-flex flex-column align-items-center">
  <div class="card-booking-show" style="width: 18rem;">
    <% if @booking.mentor.avatar.attached? %>
    <%= cl_image_tag @booking.mentor.avatar.key, height: 199, width: 288, crop: :fill %>
    <% end %>
    <div class="d-flex flex-column align-items-center mt-4 mb-3">
      <h4> Booking Details</h4>
      <h5>From <%= @booking.start_date %></h5>
      <h5>Until <%= @booking.end_date %></h5>
      <p>$<%= @booking.price %></p>
      <% if current_user == @booking.user  %>
      <div>
        <%= link_to 'Change', edit_booking_path(@booking), class:"btn btn-secondary" %>
        <%= link_to 'Cancel', @booking, method: :delete, data: { confirm: 'Are you sure you want to cancel your booking?' }, class:"btn btn-danger" %>
      </div>
      <% end  %>
    </div>
  </div>
</div>

