<div class="booking-request">
  <div class="request-image">
    <% if booking.user.avatar.attached? %>
        <%= cl_image_tag booking.user.avatar.key, height: 50, width: 50, crop: :fill %>
      <% end %>
    </div>
  <div class="request-content">
    <p>Requested Mentee: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
    <p class="card-text">Start Date: <%= booking.start_date %></p>
    <p class="card-text">End Date: <%= booking.end_date %></p>
    <p class="card-text">Price $<%= booking.price %> </p>
     <%= link_to 'Confirm', edit_booking_path(booking), class:"btn-link-naked pr-3" %>
     <%= link_to 'Reject', booking_path(booking), method: :delete, data: { confirm: 'Are you sure you want to reject this booking?' }, class:"btn-link-naked" %>
  </div>
</div>
