<div class="bg-light">
  <div class="jumbotron">
    <% if @mentor.avatar.attached? %>
      <image width="150" height="150" src="<%= (url_for(@mentor.avatar)) %>">
    <% end %>
    <h1 class="display-4"><%= @mentor.title %></h1>
    <h3><%= @mentor.speciality %></h3>
    <p class="lead"><%= @mentor.description %> | $<%= @mentor.price %> per hour</p>
    <hr class="my-4">
  </div>
</div>

<div id="map"
     style="width: 300px; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>



  <%= link_to 'Book',  new_mentor_booking_path(@mentor), class:"btn btn-secondary" %>
  <% if current_user == @mentor.user %>
  <%= link_to 'Edit', edit_mentor_path(@mentor), class:"btn btn-secondary" %>
  <%= link_to 'Delete', @mentor, method: :delete, data: { confirm: 'Are you sure you want to delete your profile?' }, class:"btn btn-danger" %>
  <% end %>


