
<!-- container -->
<div class="container d-flex my-3">
    <!-- column -->
  <div class="col-2">
      <% if @mentor.avatar.attached? %>
           <%= cl_image_tag(@mentor.avatar.key, :transformation=>[
          {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
          {:width=>150, :crop=>"scale"}
          ]) %>
          <% end %>
  </div>
   <div class="col-6 flex-row">
    <!-- product details -->
      <div class="product-details">
        <!-- place to put all titles and avatar -->
        <div class ="d-flex flex-row" style="align-items: center;">
          <!-- mentor header div -->
          <div class="mentor-header">
            <h2 class = "product-title"> <%= @mentor.title %> </h2>
            <h4><%= @mentor.speciality %>    $<%= @mentor.price %> per day</h4>
            <!-- mentor header div end -->
          </div>
          <!-- d-flex flex-row div end below -->
        </div>
        <!-- mentor detail div -->
        <div>
          <p class="mentor-detail"><%= @mentor.description %></p>
          <!-- mentor detail end div -->
        </div>
        <!-- map -->
        <div id="map-show">
          <div id="map"
            style="width: 500px; height: 500px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <!-- map div end -->
        </div>
        <!-- reviews container -->
        <div class="review-container">
          <!-- TITLE -->
          <div class="review-title">
            <h1>Reviews</h1>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
             <span>3.5(0)</span>
            </div>
            <!-- title div end -->
            <% if current_user == @mentor.user %>
            <% else %>
            <%= render 'reviews/new' %>
            <%end%>
          </div>
          <!-- review listings ul -->
          <ul style="padding-left: 0">
            <!-- review card -->
            <div class="review-card">
            <% @mentor.reviews.each do |review| %>
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
              <p><small>5th March</small></p>
              <li class="review"><%= review.content %></li>
              <% end%>
              <!-- review card end -->
            </div>
            <!-- end of reviews -->
          </ul>
           <!-- reviews container end  below-->
        </div>
        <!-- product detailsdiv end below -->
      </div>
    <!-- 2nd column div below -->
     </div>
    <div class="col-4">
        <div id="booking">
          <div class="d-flex booking-top-info-container justify-content-between">
            <!-- pricing info -->
            <div>
              <div id="price-per-day">
              </div>
              <!-- pricing infor div end below -->
            </div>
          </div>
          <div class="container">
            <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
              <h1 class="d-flex flex-column align-items-center">Book Now</h1>
              <%= simple_form_for [@mentor, @booking] do |f| %>
              <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.button :submit, "Check out", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
          <!-- div id booking end below -->
        </div>
        <!-- second col div end below -->
    </div>

<!-- container div below-->
</div>



  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Hope This Helped <i class="fas fa-heart"></i> From Mentors
    </div>
  </div>



<div id="map"
style="width: 300px; height: 300px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>



