<div class="main">
  <div class="heading">
    <h1>My Bookings:</h1>
  </div>
  <div>
    <section>
      <div class ="cards">
        <% @bookings.each do |booking| %>
        <div class="card">
          <div class="image">
            <% if booking.mentor.avatar.attached? %>
            <%= cl_image_tag booking.mentor.avatar.key, height: 200, width: 318, crop: :fill %>
            <% end %>
          </div>
          <div class="card__content">
            <p> <%= booking.start_date %> - <%= booking.end_date %> </p>
            <p> $<%= booking.price %> </p>
          </div>
          <div class="card__info">
           <%= link_to 'Show', booking, class:"btn btn-primary" %>
           <% if booking.user == current_user %>
           <%= link_to 'Edit', edit_booking_path(booking), class:"btn btn-warning" %>
           <% end %>
         </div>
       </div>
       <%end%>
     </div>
    </section>
  </div>
</div>

<!-- <div class="main">
  <div class="container-fluid">
    <h1 class="text-center mb-3">My Bookings:</h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
        <div class="carousel-item col-md-4 active">
          <% @bookings.each do |booking| %>
          <div class="card">
            <% if booking.mentor.avatar.attached? %>
              <%= cl_image_tag booking.mentor.avatar.key, height: 200, width: 318, crop: :fill %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title"> <%= booking.mentor.title %> </h4>
              <p class="card-text"> <%= booking.start_date %> - <%= booking.end_date %> </p>
              <p class="card-text"> $<%= booking.price %> </p>
            </div>
          </div>
          <%end%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> -->


<h1>My Mentors Profiles</h1>
  <% @mentors.each do |mentor|  %>
    <h3><%= mentor.title %> <%= mentor.speciality %></h3>
     <%= link_to 'Show', mentor %>
   </br>
   </br>
     <h5>Mentor Booking Requests</h5>
     <% mentor.bookings.each do |booking| %>
      <p><%= booking.user.first_name %> <%= booking.user.last_name %>
        <%= booking.start_date %> until <%= booking.end_date %>
      </p>
     <% end %>
  <% end %>


