<h1>My Bookings:</h1>

<table>
  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <td>
        <% if booking.mentor.avatar.attached? %>
          <%= cl_image_tag booking.mentor.avatar.key, height: 150, width: 150, crop: :fill %>
        <% end %>
      </td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td>$<%= booking.price %></td>
      <td><%= link_to 'Show', booking %></td>
      <% if booking.user == current_user %>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      <% end %>
    <% end %>
  </tbody>
</table>



<h1>My Mentors Profiles</h1>
  <% @mentors.each do |mentor|  %>
    <h3><%= mentor.title %> <%= mentor.speciality %></h3>
     <%= link_to 'Show', mentor %>
   </br>
   </br>
     <h5>Mentor Booking Requests</h5>
     <% mentor.bookings.each do |booking| %>
      <p><%= booking.user.first_name %> <%= booking.user.last_name %>
        <%= booking.start_date %> until <%= booking.end_date %>
      </p>
     <% end %>
  <% end %>





